@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<!--index page to display table of books. Uses razor code to pull data from the Model
    loops through each one and displays in order. Added Bootstrap to create table and add
    styling.

    new bootstrap commands are shadow, alert, alert-dark,  and text-uppercase
    
    -->

<div class="text-center text-primary ">
    <br />
    <h1>Tyler's Bookstore</h1>
    <br />
    <br />
</div>

<div class="container">

    @foreach (var x in Model.Books)
    {

        <div class="card card-outline-primary m-1 p-1 shadow ">
            <div class="bg-faded p-1">
                <h4 class="text-uppercase">
                    Title: @x.Title
                    <span class="badge badge-pill badge-primary" style="float:right">
                        Price: @x.Price
                    </span>
                </h4>
                <p>Author: @x.Author</p>
                <p>Publisher: @x.Publisher</p>
                <p>ISBN: @x.ISBN</p>
                <p>Classification: @x.Classification</p>
                <p>Category: @x.Category</p>
                <p>Number of Pages: @x.NumPages</p>
            </div>
        </div>

    }

    <div class="alert alert-dark" role="alert">
        <strong>Well done!</strong> You successfully viewed my bookstore!
    </div>


    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
         class="btn-group pull-right m-1"></div>

</div>
